
html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centered in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust:     100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 16px;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
*,
*:before,
*:after { /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
	-webkit-box-sizing: border-box; /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
	-moz-box-sizing:    border-box; /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
	box-sizing:         border-box;
}
body {
    background: rgb(255, 255, 255);
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
    display: block;
}
ol,
ul {
    list-style: none;
}
table {
    border-collapse: separate;
    border-spacing: 0px;
}
caption,
th,
td {
    font-weight: normal;
    text-align: left;
}
blockquote::before,
blockquote::after {
    content: "";
}
blockquote {
    quotes: "" "";
}
q {
    quotes: "“" "”" "‘" "’";
}
q::before {
    content: open-quote;
}
q::after {
    content: close-quote;
}
a:focus {
    outline: dotted thin;
}
a:hover,
a:active {
    outline: 0px;
}
a img {
    border: 0px;
}
body {
    font-size: 14px;
    color: rgb(128, 128, 128);
    font-weight: normal;
    overflow-x: hidden;
    line-height: 25px;
    text-align: center;
    font-family: Lato, Helvetica, sans-serif !important;
}
*,
::before,
::after {
    box-sizing: border-box;
}
i {
    vertical-align: middle;
}
ul,
ol {
    padding-left: 0px !important;
}
::selection {
    background: rgb(252, 109, 109);
    color: rgb(255, 255, 255);
}
a {
    color: #2196f3;
    transition: all 700ms;
}
a,
a:hover {
    text-decoration: none;
}
a:hover {
    color: rgb(203, 67, 50);
}
p {
    margin: 0px;
}
::-webkit-input-placeholder {
    color: rgb(153, 153, 153) !important;
}
body,
button,
input,
select,
textarea {
    color: rgb(64, 64, 64);
    font-family: sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
}
p {
    margin-bottom: 1.5em;
}
b,
strong {
    font-weight: bold;
}
dfn,
cite,
em,
i {
    font-style: italic;
}
blockquote {
    margin: 0px 1.5em;
}
blockquote {
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    margin: 24px 40px;
    line-height: 26px;
}
address {
    margin: 0px 0px 1.5em;
}
pre {
    background: rgb(238, 238, 238);
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}
code,
kbd,
tt,
var {
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 15px;
    line-height: normal;
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr,
acronym {
    border-bottom: 1px dotted rgb(102, 102, 102);
    cursor: help;
}
mark,
ins {
    background: rgb(255, 249, 192);
    text-decoration: none;
}
sup,
sub {
    font-size: 75%;
    height: 0px;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    bottom: 1ex;
}
sub {
    top: 0.5ex;
}
small {
    font-size: 75%;
}
big {
    font-size: 125%;
}
dl {
    margin: 0px 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px 0px 10px;
    padding: 0px;
    border: 0px;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    vertical-align: baseline;
    display: block;
    clear: both;
}
h1,
h2 {
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 35px;
}
h1,
h1 span {
    font-size: 30px;
}
h2 {
    font-size: 26px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 17px;
}
h6 {
    font-size: 16px;
}
.buttons {
    text-align: center;
    margin-top: 45px;
}
.custom-button {
    text-align: center;
    text-transform: uppercase;
    padding: 13px 35px;
    border-radius: 4px;
    margin: 10px;
    border: none;
    display: inline-block !important;
}
.red-btn {
    background: #3f4b54;
}
.green-btn {
    background: #2196f3;
}
.red-btn,
.green-btn,
.blue-btn,
.yellow-btn {
    transition: all 0.3s ease-in-out;
    color: rgb(255, 255, 255) !important;
}
.red-btn:hover {
    color: rgb(255, 255, 255);
    background: #374149;
}
.green-btn:hover {
    color: rgb(255, 255, 255);
    background: #0b7dda;
}
.btn:hover {
    box-shadow: none;
}
hr {
    background-color: rgb(204, 204, 204);
    border: 0px;
    height: 1px;
    margin-bottom: 1.5em;
}
ul,
ol {
    margin: 0px 0px 1.5em 3em;
}
ul {
    list-style: disc;
}
ol {
    list-style: decimal;
}
li > ul,
li > ol {
    margin-bottom: 0px;
    margin-left: 1.5em;
}
dt {
    font-weight: bold;
}
dd {
    margin: 0px 1.5em 1.5em 0px;
}
img {
    height: auto;
    max-width: 100%;
}
figure {
    margin: 0px;
}
table {
    border-bottom: 1px solid rgb(237, 237, 237);
    border-collapse: collapse;
    border-spacing: 0px;
    font-size: 14px;
    line-height: 2;
    margin: 0px 0px 20px;
    width: 100%;
}
caption,
th,
td {
    font-weight: normal;
    text-align: left;
}
caption {
    font-size: 16px;
    margin: 20px 0px;
}
th {
    font-weight: bold;
    text-transform: uppercase;
    border-top: 1px solid rgb(237, 237, 237);
    padding: 6px 10px 6px 0px;
}
td {
    border-top: 1px solid rgb(237, 237, 237);
    padding: 6px 10px 6px 0px;
}
thead th {
    border: none;
}
.dark-text {
    color: rgb(64, 64, 64);
}
.white-text {
    color: rgb(255, 255, 255);
}
.red-border-bottom::before {
    position: absolute;
    margin: auto;
    z-index: 1;
    content: "";
    width: 75%;
    height: 2px;
    background: #2196f3;
    bottom: -9px;
    left: 12.5%;
}
button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0px;
    vertical-align: baseline;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    text-align: center;
    text-transform: uppercase;
    padding: 13px 35px;
    border-radius: 4px;
    margin: 10px;
    border: none;
    background-color: #2196f3;
    box-shadow: none;
    text-shadow: none;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    font-size: 14px;
    color: rgb(255, 255, 255);
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    border-color: rgb(204, 204, 204) rgb(187, 187, 187) rgb(170, 170, 170);
}
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
    border-color: rgb(170, 170, 170) rgb(187, 187, 187) rgb(187, 187, 187);
}
input[type="checkbox"],
input[type="radio"] {
    padding: 0px;
}
input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
    color: rgb(85, 85, 85);
    border: 1px solid rgba(0, 0, 0, 0.0980392);
    border-radius: 0px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
    color: rgb(17, 17, 17);
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
    padding: 3px;
}
textarea {
    overflow: auto;
    padding-left: 3px;
    vertical-align: top;
    width: 98%;
}
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus {
    outline-color: #2196f3 !important;
    box-shadow: none !important;
}
input:focus,
textarea:focus {
    border: 1px solid rgba(0, 0, 0, 0.298039);
    outline: 0px;
}
a {
    color: #2196f3;
}
a:visited {
    color: #2196f3;
}
a:hover,
a:focus,
a:active {
    color: rgb(203, 67, 50);
}
.navbar-collapse {
    overflow: visible !important;
}
.navbar-inverse li.menu-item-open-left:hover > ul.sub-menu,
.navbar-inverse li.menu-item-open-left.link-focus > ul.sub-menu {
    right: 0px;
}
.navbar-inverse li.menu-item-open-left li:hover > ul.sub-menu,
.navbar-inverse ul ul li.link-focus > ul.sub-menu {
    right: 100%;
    left: auto;
}
.screen-reader-text {
    clip: rect(1px 1px 1px 1px);
    position: absolute !important;
}
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
    background-color: rgb(241, 241, 241);
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 2px 2px;
    color: rgb(33, 117, 155);
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    clip: auto !important;
}
.clear::before,
.clear::after,
.entry-content::before,
.entry-content::after,
.comment-content::before,
.comment-content::after,
.site-header::before,
.site-header::after,
.site-content::before,
.site-content::after,
.site-footer::before,
.site-footer::after {
    content: "";
    display: table;
}
.clear::after,
.entry-content::after,
.comment-content::after,
.site-header::after,
.site-content::after,
.site-footer::after {
    clear: both;
}
.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
    margin-right: 0px;
    margin-left: 0px;
}
.site-content {
    background: rgb(255, 255, 255);
}
.home .site-content {
    background: none;
}
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
    display: none;
}
embed,
iframe,
object {
    max-width: 100%;
}
.focus,
.works,
.about-us,
.features,
.packages,
.products,
.testimonial,
.contact-us {
    padding-top: 100px;
}
.section-header {
    text-align: center;
    padding-bottom: 75px;
}
.section-header h2 {
    padding-bottom: 10px;
    line-height: 40px;
    position: relative;
    display: inline-block;
    font-size: 45px;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 0px;
}
.section-header .section-legend {
    font-size: 16px;
    margin-bottom: 0px;
    color: rgb(128, 128, 128);
    padding-top: 0px;
}
.home-header-wrap {
    overflow: hidden;
    position: relative;
}
.header.header {
    min-height: 76px;
}
.header.header > .navbar {
    box-shadow: rgba(50, 50, 50, 0.0784314) 0px 5px 11px 0px;
}
.header-content-wrap {
    background: rgba(0, 0, 0, 0.498039);
    position: relative;
    box-shadow: rgba(50, 50, 50, 0.0784314) 0px 5px 11px 0px;
    padding: 285px 0px 210px;
}
.navbar {
    background: rgb(255, 255, 255);
    border: 0px;
    text-align: left;
    border-radius: 0px !important;
}
#main-nav {
    width: 100%;
    z-index: 1000;
    min-height: 75px;
    margin-bottom: 0px;
}
#main-nav.fixed {
    position: fixed;
    top: 0px;
}
.navbar-inverse .navbar-nav {
    margin-left: 0px;
    margin-right: 0px;
}
.navbar-inverse .navbar-nav > li {
    display: inline;
    margin-right: 20px;
    margin-top: 20px;
}
.navbar-inverse .navbar-nav > li:last-child {
    margin-right: 0px !important;
}
.navbar-inverse .navbar-nav > li > a {
    color: rgb(64, 64, 64);
    padding: 0px;
    line-height: 35px;
}
.navbar-inverse .main-navigation ul > li {
    display: inline;
    margin-right: 20px;
    margin-top: 20px;
}
.navbar-inverse .main-navigation > ul > li:last-child {
    margin-right: 0px !important;
}
.navbar-inverse .main-navigation > ul > li > a {
    color: rgb(64, 64, 64);
    padding: 0px;
    line-height: 35px;
}
.navbar-inverse .navbar-nav ul.sub-menu {
    left: -999em;
    position: absolute;
    top: 100%;
    background: rgb(255, 255, 255);
    width: 200px;
    box-shadow: rgba(50, 50, 50, 0.0784314) 3px 3px 2px;
    z-index: 9999;
}
.navbar-inverse .navbar-nav ul.sub-menu {
    margin: 0px;
}
.navbar-inverse .navbar-nav ul.sub-menu ul.sub-menu {
    position: absolute;
    top: 0px;
}
.navbar-inverse .navbar-nav ul.sub-menu li {
    float: none;
    position: relative;
    list-style: none;
    padding: 10px;
}
.navbar-inverse .navbar-nav ul.sub-menu li a {
    color: rgb(64, 64, 64);
}
.navbar-inverse .navbar-nav ul.sub-menu li:hover > a,
.navbar-inverse .navbar-nav ul.sub-menu li.link-focus > a {
    color: #2196f3;
}
.navbar-inverse ul ul {
    left: -999em;
}
.navbar-inverse ul ul ul {
    left: -999em;
    top: 0px;
}
.navbar-inverse ul li:hover > ul.sub-menu,
.navbar-inverse ul li.link-focus > ul.sub-menu {
    left: auto;
}
.navbar-inverse ul ul li:hover > ul.sub-menu,
.navbar-inverse ul ul li.link-focus > ul.sub-menu {
    left: 100%;
}
.navbar-brand {
    height: 76px;
    position: relative;
    line-height: 60px;
    padding: 7px 15px;
    display: inline-block;
}
.navbar-brand > img {
    max-height: 100%;
}
.navbar-brand:focus {
    border: 1px dotted black;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a.link-focus {
    color: #2196f3;
    outline: none;
}
.navbar-toggle {
    border: 0px;
    background-color: rgb(128, 128, 128);
    margin-top: 23px;
}
.navbar-toggle:focus {
    border: 1px dotted black;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #2196f3;
    opacity: 1;
    box-shadow: none;
}
.navbar-toggle.collapsed {
    background-color: rgb(128, 128, 128) !important;
}
.menu-align-center .responsive-logo {
    width: 100%;
    text-align: center;
}
.menu-align-center .navbar-inverse .navbar-nav > li {
    margin-top: 0px;
    margin-bottom: 0px;
}
.menu-align-center .responsive-logo > a {
    float: none;
    display: inline-block;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #2196f3;
}
.navbar-inverse .navbar-nav > li.current > a {
    color: #2196f3;
    position: relative;
    outline: none;
}
ul.nav > li.menu-item-home > a::before {
    content: "";
    display: none;
}
ul.nav > li.current_page_item > a::before,
ul.nav > li.current-menu-item > a::before {
    position: absolute;
    margin: auto;
    z-index: 1;
    content: "";
    width: 75%;
    height: 2px;
    background: #2196f3;
    bottom: 0px;
    left: 12.5%;
    display: block;
}
ul.nav > li.current_page_item.menu-item-home > a::before {
    content: "";
    display: none;
}
ul.nav > li.current_page_item.current > a::before {
    position: absolute;
    margin: auto;
    z-index: 1;
    content: "";
    width: 75%;
    height: 2px;
    background: #2196f3;
    bottom: 0px;
    left: 12.5%;
    display: block;
}
.intro-text {
    text-align: center;
    color: rgb(255, 255, 255);
    line-height: 65px;
    z-index: 0;
    text-transform: uppercase;
    font-size: 55px;
    float: none;
}
.focus-box .service-icon .pixeden {
    border-radius: 50%;
}
.focus {
    padding-bottom: 100px;
    overflow: hidden;
    background: rgb(255, 255, 255);
}
.focus .row {
    text-align: center;
}
.focus .row .focus-box,
.our-team .row .team-box {
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
    margin-bottom: 25px;
    float: none !important;
}
.focus-box .service-icon {
    width: 145px;
    height: 145px;
    margin: auto auto 20px;
    border-radius: 50%;
    border: 10px solid rgb(236, 236, 236);
    position: relative;
    transition: all 0.2s ease-in-out;
}
.focus-box:nth-child(4n+1) .service-icon:hover {
    border: 10px solid #2196f3;
}
.focus-box:nth-child(4n+2) .service-icon:hover {
    border: 10px solid rgb(52, 210, 147);
}
.focus-box:nth-child(4n+3) .service-icon:hover {
    border: 10px solid rgb(58, 176, 226);
}
.focus-box:nth-child(4n+4) .service-icon:hover {
    border: 10px solid rgb(247, 216, 97);
}
.focus-box:nth-child(4n+1) .red-border-bottom::before {
    background: #2196f3;
}
.focus-box:nth-child(4n+2) .red-border-bottom::before {
    background: rgb(52, 210, 147);
}
.focus-box:nth-child(4n+3) .red-border-bottom::before {
    background: rgb(58, 176, 226);
}
.focus-box:nth-child(4n+4) .red-border-bottom::before {
    background: rgb(247, 216, 97);
}
.focus-box h3 {
    color: rgb(64, 64, 64);
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 17px;
    float: none;
    width: auto;
    background: none;
}
.focus-box p {
    font-size: 14px;
    color: rgb(128, 128, 128);
}
.separator-one .green-btn {
    background: rgb(20, 161, 104);
}
.separator-one .green-btn:hover {
    background: rgb(0, 115, 69);
}
.pirate_forms .custom-button {
    float: right;
    margin-right: 15px;
}
.pixeden {
    height: 63px;
    margin: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    display: block;
}
.about-us {
    background: rgb(39, 39, 39);
    color: rgb(255, 255, 255);
}
.about-us .big-intro {
    text-align: right;
    font-weight: 300;
    font-size: 60px;
    line-height: normal;
    margin-top: -15px;
}
.about-us .section-header .section-legend {
    color: rgb(255, 255, 255);
}
.about-us p {
    text-align: left;
    color: rgb(147, 147, 147);
    font-size: 14px;
    line-height: 25px;
}
.about-us .column {
    margin-bottom: 78px;
}
.about-us .col-md-12.zerif-rtl-big-title .big-intro,
.about-us .col-md-12.zerif_about_us_center p {
    text-align: center;
}
.skills .skill .section-legend {
    text-transform: uppercase;
    font-weight: 700;
    clear: none;
    width: auto;
    float: none;
    margin-top: 0px;
    margin-bottom: 0px;
}
.stat .section-legend {
    color: rgb(209, 209, 209);
    margin-top: 15px;
}
.our-team {
    padding-bottom: 66px;
    padding-top: 100px;
    background: rgb(255, 255, 255);
}
.team-member {
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    margin-bottom: 35px;
}
.team-member .details {
    text-align: left;
    font-size: 13px;
    line-height: 20px;
    position: absolute;
    padding: 15px;
    top: -200px;
    left: 0px;
    width: 100%;
    height: 190px;
    transition: all 500ms;
    opacity: 0;
}
.team-member .member-details {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}
.team-member:hover .details {
    top: 0px;
    background: rgb(51, 51, 51);
    color: white;
    opacity: 1;
}
.team-member.team-member-open .details {
    display: block;
    top: 0px;
    background: rgb(51, 51, 51);
    color: white;
    opacity: 1;
    transition: none;
}
.team-member .profile-pic {
    border-radius: 50%;
    width: 174px;
    height: 174px;
    margin: auto auto 25px;
    overflow: hidden;
}
.team-member .profile-pic img {
    width: 100%;
    height: 100%;
}
.team-member h3 {
    text-transform: uppercase;
    color: rgb(64, 64, 64);
    font-weight: 700;
    font-size: 17px;
    position: relative;
    margin-top: 15px;
}
.team-member .position {
    font-size: 13px;
}
.team-member .social-icons {
    margin-bottom: 25px;
}
.team-member .social-icons ul {
    margin: 0px 0px 1.5em;
}
.team-member .social-icons ul li {
    display: inline-block;
    line-height: 32px;
    margin: 6px;
}
.team-member .social-icons ul li a {
    background: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 50%;
    color: rgb(128, 128, 128);
}
.team-member .social-icons ul li a:hover {
    color: #2196f3;
}
.our-team .row > div:nth-child(4n+1) .red-border-bottom::before {
    background: #2196f3;
}
.our-team .row > div:nth-child(4n+2) .red-border-bottom::before {
    background: rgb(52, 210, 147);
}
.our-team .row > div:nth-child(4n+3) .red-border-bottom::before {
    background: rgb(58, 176, 226);
}
.our-team .row > div:nth-child(4n+4) .red-border-bottom::before {
    background: rgb(247, 216, 97);
}
.newsletter .custom-button {
    margin-top: 7px;
}
.testimonial .section-header .section-legend {
    color: rgb(255, 255, 255);
}
.purchase-now .red-btn {
    float: right;
    background: rgb(219, 90, 74);
}
.purchase-now .red-btn:hover {
    background: rgb(191, 57, 40);
}
.contact-us .section-header .section-legend {
    color: rgb(255, 255, 255);
}
.contact-us .custom-button {
    float: right;
    margin-right: 15px;
}
.footer-widget-wrap > .container {
    text-align: center;
}
.blog {
    min-height: 175px;
    position: relative;
    overflow: hidden;
}
article {
    text-align: left;
}
.clear {
    clear: both;
}
.row {
    float: left;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
}
:focus {
    outline: 0px;
}
.woocommerce-page #content .quantity input.minus {
    width: 15px;
    height: 15px;
    border: none;
    margin-left: 0px;
    float: left;
    background: rgb(204, 204, 204);
    padding: 0px;
    color: rgb(255, 255, 255);
    text-shadow: none;
    position: absolute;
    top: 15px;
    right: 5px;
}
.woocommerce-page #content .quantity input.plus {
    width: 15px;
    height: 15px;
    border: none;
    margin-left: 0px;
    float: left;
    background: rgb(204, 204, 204);
    padding: 0px;
    color: rgb(255, 255, 255);
    text-shadow: none;
    position: absolute;
    top: 0px;
    right: 5px;
}
.woocommerce #content .quantity,
.woocommerce .quantity,
.woocommerce-page #content .quantity,
.woocommerce-page .quantity {
    position: relative;
}
.woocommerce #content .quantity input.qty,
.woocommerce .quantity input.qty,
.woocommerce-page #content .quantity input.qty,
.woocommerce-page .quantity input.qty {
    height: 30px;
}
.woocommerce-page .woocommerce input[type="submit"],
.woocommerce-page #content input.button,
.woocommerce input.button.alt,
.woocommerce-page #content input.button.alt,
.woocommerce-page input.button.alt {
    background: #2196f3;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 12px;
    margin: 0px;
    text-shadow: none;
}
.woocommerce-page .woocommerce input[type="submit"]:hover,
.woocommerce-page #content input.button:hover,
.woocommerce input.button.alt:hover,
.woocommerce-page #content input.button.alt:hover,
.woocommerce-page input.button.alt:hover {
    background: rgb(203, 67, 50);
    color: rgb(255, 255, 255);
    box-shadow: none;
}
.woocommerce #content div.product div.thumbnails a,
.woocommerce div.product div.thumbnails a,
.woocommerce-page #content div.product div.thumbnails a,
.woocommerce-page div.product div.thumbnails a {
    margin-bottom: 1em;
}
.woocommerce #content nav.woocommerce-pagination ul,
.woocommerce nav.woocommerce-pagination ul,
.woocommerce-page #content nav.woocommerce-pagination ul,
.woocommerce-page nav.woocommerce-pagination ul,
.woocommerce nav.woocommerce-pagination ul {
    border: none;
}
.woocommerce #content nav.woocommerce-pagination ul li,
.woocommerce-page #content nav.woocommerce-pagination ul li,
.woocommerce-page nav.woocommerce-pagination ul li .woocommerce nav.woocommerce-pagination ul li {
    border: none;
    margin: 0px 3px;
}
.woocommerce #content nav.woocommerce-pagination ul li span.current,
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce-page #content nav.woocommerce-pagination ul li span.current,
.woocommerce-page nav.woocommerce-pagination ul li span.current,
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce-page nav.woocommerce-pagination ul li a:hover,
.woocommerce-page #content nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce #content nav.woocommerce-pagination ul li a:hover {
    background: #2196f3;
    color: rgb(255, 255, 255);
}
body.custom-background {
    background-position: center top !important;
    background-attachment: fixed !important;
}
.zerif_team:nth-child(4n+1),
.our-team .col-lg-3:nth-child(4n+1) {
    clear: both;
}
.mobile-bg-fix-wrap .mobile-bg-fix-img-wrap {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 0;
}
.mobile-bg-fix-wrap .mobile-bg-fix-img {
    position: absolute;
    width: 100%;
    height: 125%;
    left: 0px;
    top: 0px;
    background-size: cover;
}
.mobile-bg-fix-wrap .mobile-bg-fix-whole-site {
    position: relative;
    z-index: 1;
}
body.custom-background {
    background-image: url("resources/images/promo.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
}
